<div class="flex">
  <header class=" w-full h-20">
    <div class="w-full h-full flex justify-between items-center bg-[#2B2D31]">
      <div class="w- flex h-full justify-between items-center md:w-2/5 ">
        <button 
          class="openMenu h-full flex justify-center items-center w-20 bg-[#5A6069] hover:bg-[#E46643]">
          <img src="../assets/icon-menu.svg" alt="menu">
        </button>
        <button 
          class=" closeMenu h-full  hidden justify-center items-center w-20 bg-[#5A6069]  hover:bg-[#E46643]">
          <img src="../assets/icon-close.svg" alt="close">
        </button>
        <div class="flex ml-5 w-full justify-between items-center">
          <div class="hidden md:hidden lg:flex h-20  items-center">
            <img src="../assets/logo.svg" alt="logo">
          </div>
  
          <div class="hidden md:hidden lg:flex border-r border-[#979797] h-10 ml-5 "></div>
  
          <div class="flex items-center ml-3 justify-between">
            <img class="w-6 h-6" src="../assets/icon-document.svg" alt="document icon">
            <div class="flex-col w-full items-center justify-center ml-5" >
              <p class="hidden text-gray-500 tracking-wide font-light md:flex">Document Name</p>
              <input
                class="nameInput w-4/5 md:w-full text-sm md:text-2xl outline-none bg-transparent placeholder-white pl-1 mt-2 text-gray-100 caret-[#E46643] border-b-2 border-transparent focus:border-white"
                placeholder="j">
            </div>
  
          </div>
        </div>
      </div>
      <div class="flex mr-10 w-50 justify-center items-center gap-5">
        <button >
          <i class="fa fa-trash-alt text-gray-400 hover:text-[#E46643]" aria-hidden="true"></i>
        </button>
        <button 
          class="flex bg-[#e7492b] text-white rounded-md py-3 h-11 px-5 justify-center items-center gap-2 hover:bg-[#F39765] tracking-wide font-light">
          <img class="w-12 h-5 md:w-auto md:h-auto" src="../assets/icon-save.svg" alt="save">
          <div class="hidden md:flex">Save Changes</div>
        </button>
      </div>
    </div>

  </header>
</div>