/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow: hidden;
  transition: margin-left 0.9s ease-in-out;
}

.popUp {
  transform: translateX(0);
  transition: transform 0.9s ease-in-out;
}
.popUot {
  margin-left: -250px;
  transition: left 0.9s ease;
  transition: transform 0.9s ease-in-out;
}

.button {
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 0.75rem;
  position: relative;
  background: #5a6069;
  transition: 0.9s ease-in-out;
}

.button::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 1.125rem;
  background-color: #f1f3fa;
  position: absolute;
  top: 0.37rem;
  right: 0.35rem;
  transition: 0.9s ease-in-out;
}

.button::after {
  background-color: #f1f3fa;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .button::before {
  transform: translateX(-1.5rem);
  transition: 0.5s ease-in-out;
}

.kas {
  margin-left: 15rem;
}

.opacity {
  opacity: 0.6;
}

.hidden {
  display: none;
}

.mlb {
  margin-left: 50%;
  margin-top: -2%;
}

.con-move-up {
  margin-top: 0;
}

.mkd blockquote {
  width: 98%;
  border-left: 0.3rem solid #e46643;
  background-color: #e4e4e4;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.mkd h6 {
  color: #e46643;
}
.mkd h4,
.mkd h5 {
  font-size: bold;
  color: black;
}

.dark {
  color: white;
  background-color: #979797;
}
.mkd h2 {
  font-weight: 300;
}

.mkd li::marker {
  color: #e46643;
}

.mkd pre {
  background-color: #e4e4e4 !important;
}

.mkd pre code {
  color: #151619;
}
.mkd a {
  color: #e46643;
}

textarea::-webkit-scrollbar,
.markdown::-webkit-scrollbar,
.ulscroll::-webkit-scrollbar {
  display: none;
}

.textarea,
.preview {
  flex: 1;
  overflow-y: auto;
}

.prose {
  height: 100%;
}

.dark-mode {
  background-color: #151619;
  transition: 0.9s ease-in-out;
}

.dark-mode section {
  background-color: #1d1f22;
  transition: 0.9s ease-in-out;
}

.dark-mode .deletepopmenu {
  background-color: black;
  transition: 0.9s ease-in-out;
}

.dark-mode textarea {
  color: #7c8187;
  transition: 0.9s ease-in-out;
}

body.dark-mode {
  background-color: #151619;
  transition: 0.9s ease-in-out;
}

body.dark-mode section {
  background-color: #1d1f22;
  transition: 0.9s ease-in-out;
}

body.dark-mode .deletepopmenu {
  background-color: black;
  transition: 0.9s ease-in-out;
}

body.dark-mode textarea {
  color: #7c8187;
}

body.dark-mode .first {
  display: none;
  transition: 0.9s ease-in-out;
}

body.dark-mode .first-image {
  display: flex;
  transition: 0.9s ease-in-out;
}

body.dark-mode .second {
  display: none;
  transition: 0.9s ease-in-out;
}

body.dark-mode .second-image {
  display: flex;
  transition: 0.9s ease-in-out;
}

body.dark-mode .mkd h1,
body.dark-mode .mkd h2,
body.dark-mode .mkd h3,
body.dark-mode .mkd h4,
body.dark-mode .mkd h5,
body.dark-mode .ddd,
body.dark-mode .mkd pre code,
body.dark-mode .mkd blockquote {
  color: white;
  transition: 0.9s ease-in-out;
}

body.dark-mode .mkd pre,
body.dark-mode .mkd blockquote {
  background-color: #5a6069 !important;
  transition: 0.9s ease-in-out;
}
